# ==========================================
# GİZLİ BİLGİLER VE ŞİFRELER (.env)
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# ==========================================
# HARİCİ KÜTÜPHANELER (Ağır Klasörler)
# ==========================================
node_modules/
jspm_packages/
web_modules/

# ==========================================
# ÜRETİM VE DERLEME ÇIKTILARI (Build/Dist)
# ==========================================
build/
dist/
dist-ssr/
out/
.next/
coverage/

# ==========================================
# LOGLAR VE HATA RAPORLARI
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# EDİTÖR VE SİSTEM DOSYALARI
# ==========================================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp
*.swp
